html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ^^^^^^ CSS RESET TO 0 ^^^^^^^ */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header_text_number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 10%;
  height: 100px;
}

.header_text {
  font-size: 50px;
  color: black;
  max-width: 100%;
  font-weight: bold;
}

.main_header {
  max-width: 100%;
}

.page_numbering {
  width: 7%;
}

.number3 {
  max-width: 100%;
  max-height: 100%;
}

.all_segments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.blueprint {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.segment img {
  width: 100%;
  height: 100%;
}

#ui_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ui {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  height: 70px;
  border: solid black;
  border-radius: 15px;
  border-width: 3.5px;
  overflow: hidden;
}

#cursor_buttons {
  display: flex;
  flex-direction: column;
}

.pointer_button {
  width: 35px;
  height: 35px;
  background-color: #ff9900;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drag_button {
  width: 35px;
  height: 35px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pointer_button img {
  max-width: 100%;
  width: 60%;
}

.drag_button img {
  max-width: 100%;
  width: 65%;
}

.segment_button {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.segment_icon {
  max-width: 100%;
}

.arrow_up_icon {
  scale: 60%;
  max-width: 100%;
}

.interior_button {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 50px;
  width: 130px;
  cursor: pointer;
}

.interior_icon {
  max-width: 100%;
}

.ui_undo_redo_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ui_undo_redo_buttons img {
  max-width: 100%;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.ui_zoom_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ui_zoom_buttons img {
  max-width: 100%;
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
}

.ui_two_d_button img {
  max-width: 100%;
  width: 30px;
  cursor: pointer;
}

.ui_share_button img {
  max-width: 100%;
  width: 25px;
  margin-right: 40px;
  cursor: pointer;
}
